# Mark Markdown files as documentation
*.md linguist-documentation

# Ignore text documentation files
*.txt linguist-documentation

# Ignore configuration and build-related files
*.log linguist-vendored
*.spec linguist-vendored

# Ignore IDE configuration directories
.idea/* linguist-vendored

# Ignore virtual environment directories
.venv/* linguist-vendored

# Treat Python files as the main language
*.py linguist-language=Python

# Ignore compiled Python files
*.pyc linguist-vendored
__pycache__/* linguist-vendored
